@import "tailwindcss";
:root {
  --background: #ffffff;
  --foreground: #000000;
  --site-width: 80rem;
  --accent: #000000;
  --two: #ae9963;
}
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-accent: var(--accent);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-accent: var(--font-accent);
}

body {
  @apply bg-background text-foreground text-balance font-sans;
}
p {
  @apply font-light;
}

strong {
  @apply font-semibold;
}
.markdown-content h2 {
  @apply text-2xl md:text-3xl font-normal;
}

.markdown-content h3 {
  @apply text-2xl md:text-3xl font-normal;
}

.markdown-content ul {
  @apply list-disc ml-4 flex flex-col;
}

.heading1 {
  @apply text-4xl md:text-6xl font-normal;
}
.heading2 {
  @apply text-3xl md:text-4xl font-normal;
}
